:root {
  --primary: #146eb4;
  --background: #fafafa;
  --grey: #f2f2f2;
  --white: #ffffff;
  --text-dark: #1a181e;
  --text-grey: #4d4d4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.app {
  max-width: 1440px;
  background-color: var(--background);
  margin: 0 auto;

  font-family: sans-serif;
}

.side-padding {
  padding-left: 160px;
  padding-right: 160px;
  margin: 0 auto;
}

.header-container {
  background-color: var(--primary);
  height: 328px;
  padding-top: 20px;
}

.header {
  font-size: 18px;
  line-height: 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  width: 269px;
  height: 50px;

  display: flex;
  justify-content: space-between;
}
.header-link-blank {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
}
.header-link-white {
  display: flex;
  width: 177px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--primary);

  align-items: center;
  justify-content: center;
  font-family: "Galano Grotesque";
}

/* Main section */
.main-background {
  height: 1316px;
}
.main {
  background-color: var(--white);
  /* background-color: slategrey; */
  box-shadow: 0 2px 8px rgba(26, 24, 30, 0.06);
  /* width: 1120px;
  margin: 0 auto; */
  padding: 64px 192px;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 32px;

  transform: translate(0, -200px);
}

.horizontal-rule {
  grid-column: 1/-1;
  border: 1px solid #d9d9d9;
}

.slogan-header {
  grid-column: 1/-1;
  /* background-color: skyblue; */
}

.slogan-header > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: var(--text-dark);
  letter-spacing: -0.04em;
  margin-bottom: 16px;
}

.slogan-header > p {
  color: var(--text-grey);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.slogan-search {
  /* background-color: palegoldenrod; */
}

.slogan-search-caption {
  margin-bottom: 8px;
}
.slogan-search-component {
  margin-bottom: 48px;
  width: 352px;
  height: 48px;
  /* background-color: slateblue; */

  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.slogan-search-component > input {
  padding: 12px 16px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
.slogan-search-component > button {
  margin-left: auto;
  background: none;
  outline: none;
  border: none;
  padding-right: 16px;
}
.slogan-search-component svg {
  height: 18px;
  width: 18px;
  fill: var(--text-grey);
  stroke: var(--text-grey);
  cursor: pointer;
}

.slogan-search-btn {
  width: 204px;
  height: 50px;
  background-color: var(--primary);
  font-size: 18px;

  outline: none;
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
}

.slogan-results {
  grid-column: 1/-1;
  border-top: 1px solid #d9d9d9;
  padding-top: 48px;
}

.slogan-results-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.slogan-results-header p {
  color: var(--text-dark);
  font-size: 20px;
  line-height: 28px;
}
.slogan-results-header button {
  font-size: 14px;
  padding: 8px 24px;
  background: none;
  outline: none;
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

.slogan-search-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 20px;
}
.slogan-result {
  background-color: var(--grey);
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.slogan-pagination {
  grid-column: 1/-1;
  height: 49px;
  border-top: 1px solid #d9d9d9;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
}

.slogan-pagination-container {
  grid-column: 2/3;
}

.slogan-pagination-container {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}

.page-number {
  width: 24px;
  height: 24px;
  line-height: 20px;
  border: none;
  font-size: 14px;
  color: var(--primary);
  border-radius: 1000px;
  background: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page-number.--active {
  background-color: var(--primary);
  color: var(--white);
}

.slogan-pagination-btn {
  justify-self: end;
  width: 47px;
  height: 20px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary);
}

/* Features */
.features {
  background: rgba(20, 110, 180, 0.05);
  padding-top: 64px;
  padding-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
}

.feature-card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  text-align: center;
}

.feature-card-image {
  margin-bottom: 24px;
  height: 72px;
}
.feature-card-title {
  margin-bottom: 8px;
  font-size: 20px;
  color: var(--text-dark);
}
.feature-card-text,
.product-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-grey);
}

/* Other products */
.other-products {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white);
}

.other-products-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -0.04em;
  margin-bottom: 48px;
}

.products-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}
.product-img {
  margin-bottom: 16px;
}
.product-title {
  margin-bottom: 4px;
  font-size: 20px;
  color: var(--text-dark);
}

/* Footer */
.footer {
  background-color: var(--text-dark);
  color: var(--white);
  padding-top: 64px;
  padding-bottom: 24px;

  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 40px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 16px;
  column-gap: 102px;
  font-size: 18px;
  line-height: 26px;
}
.footer-links a:last-child {
  grid-column: 5/-1;
}

.footer-link {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
}
.footer-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  widows: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 14px;
  background-color: var(--white);
  color: var(--text-dark);
  border-radius: 1000px;
}

.footer-credits {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  grid-column: 1/-1;
  padding: 24px;

  display: flex;
  justify-content: space-between;
}
.footer-credits-country {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
